.header {
    .masthead {
        width: 30%;

        .title {
            font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
            font-size: 4rem;
            text-transform: uppercase;
            margin: 20px 0;
        }

        .subtitle {
            font-size: 1.8rem;
            font-weight: 300;
        }
    }

    .decoration {
        width: 30%;
    }
}