.header {
    .title {
        grid-area: title;
        font-variation-settings: 'wght' 900;
        font-size: 50pt;
    }

    .subtitle {
        grid-area: subtitle;
        font-size: 22pt;
        margin: 0;
    }

    .decoration {
        grid-area: decoration;
    }
}