@import '../../styles/vars.scss';

.projectDetails {
    position: relative;

    >h2 {
        font-size: 2rem;
    }

    .metadata {}

    .links {}

    .post {
        display: grid;
        grid-template-columns: [post-start] auto [thumbnail] auto [post-end];
        grid-gap: $s-large;
        grid-template-areas: "left right gutter";

        @media (max-width: $tabletMax) {
            display: block;
        }

        .imgWrapper {
            grid-area: right;
            margin: 0;
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }



    .source {
        grid-area: left;
    }
}