@import '../../../styles/vars.scss';

.projectDetails {
    position: relative;

    >h2 {
        font-size: 2rem;

        @media (max-width: $tabletMax) {
            font-size: 1.2rem;
        }
    }

    .metadata {}

    .links {}

    >aside {
        padding: 0 $s-x-large;
        font-weight: 200;
        font-style: italic;

        @media (max-width:$tabletMax) {
            padding: 0;
        }
    }

    .post {
        display: grid;
        grid-template-columns: [post-start] auto [thumbnail] auto [post-end];
        grid-gap: $s-large;
        grid-template-areas: "left right gutter";

        @media (max-width: $tabletMax) {
            display: block;
        }

        .imgWrapper {
            grid-area: right;
            margin: 0;
        }

        img {
            width: 100%;
            object-fit: cover;
            padding-top: $s-large;
        }

        figcaption {
            font-weight: 200;
            font-style: italic;
        }
    }

    .source {
        grid-area: left;

        blockquote {
            margin: 0;
            padding: 0 0 0 $s-large;
        }

        @media (max-width: $tabletMax) {
            display: block;

            h2 {
                font-size: 1.2rem;
            }
        }
    }
}