@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.menu {
    margin: 0;
    list-style: none;

    #menuCheckbox {
        appearance: none;
        position: absolute;
        opacity: 0;
    }

    .navMobile {
        display: block;
        margin: 0;

        @include themeComponent($themes) {
            background-color: t('inactiveBg');
        }

        @media(max-width: $tabletMax) {
            position: absolute;
            left: -100%;
            width: 90%;
            transition: left 0.5s ease;
            z-index: 10;
            box-shadow: $s-medium $s-medium rgba(0, 0, 0, 0.5);
            border: 1px solid black;
        }
    }

    /** toggle mobile nav*/
    #menuCheckbox:checked~.navMobile {
        left: 0;
    }

    .labelMenuToggle {
        display: none;

        @media (max-width: $tabletMax) {
            cursor: pointer;
            display: inline-block;
            font-size: 3rem;
            margin-left: calc(-1 * $s-small);
        }
    }

    .title {
        padding: $s-small 0;
    }

    li {
        counter-increment: custom;
        padding: 0 $s-medium 0 $s-medium;
        border-bottom: $s solid;
        position: relative;
        cursor: pointer;

        h3 {
            margin: 0;
            padding: 0;

            @media (max-width: $tabletMax) {
                font-size: 1rem;
            }
        }

        p {
            @media (max-width: $tabletMax) {
                font-size: 0.7rem;
            }
        }

        @include themeComponent($themes) {
            /** define outline color before passing to isFocused() */
            $outline-color: t('activeBg');
            color: t('text');
            background-color: t('inactiveBg');
            border-bottom-color: t('link');
            @include isFocused($outline-color);
        }

        &.selected {
            @include themeComponent($themes) {
                background-color: t('backgroundColor');
            }
        }

        &::marker {
            content: counter(custom) ' ';
            font-variation-settings: 'wght' 300;
            font-size: 1.2rem;

            @include themeComponent($themes) {
                color: t('highlight')
            }

            @media (max-width: $tabletMax) {
                font-size: 1rem;
            }
        }

        /** bottom border animation */
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: $s;
            transition: width 0.2s ease-out;

            @include themeComponent($themes) {
                background: t('link');
            }
        }
    }

    & :hover::before,
    & .selected::before {
        width: 100%
    }
}