@import '../../../styles/vars.scss';

.cube {
    height: 100%;

    @include themeComponent($themes) {
        background-color: t('');
    }
}

.vertex {
    display: inline-block;
    position: absolute;
    width: $s-small;
    height: $s-small;
    transition: transform 0.3s ease-out;
    image-rendering: pixelated;
    mix-blend-mode: multiply;

    @include themeComponent($themes) {
        background-color: t('border');
    }
}