@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.nav {
    @include themeComponent($themes) {
        background-color: t('activeText');
    }

    display: flex;
    font-size: 2.6rem;
    font-variation-settings: 'wght' 200;

    @media(max-width: $tabletMax) {
        font-size: 0.7rem;
        position: absolute;
        top: 0;
        padding: $s-medium 0;
        z-index: -1;
    }


    ul {
        list-style: none;
        padding: 0;
        margin: $s-small calc($s-small * 6.5);
        position: relative;

        @media (max-width:$tabletMax) {
            margin: 0;
        }
    }

    li {
        float: left;
        text-transform: capitalize;
        padding: 0 $s-large 0 $s-large;
        line-height: 100%;
        cursor: pointer;

        @media (max-width: $tabletMax) {
            line-height: inherit;
        }

        &.selected {
            @include themeComponent($themes) {
                color: t('activeText');
            }
        }

        /** define outline color before passing to isFocused() */
        @include themeComponent($themes) {
            $outline-color: t('castShadow');
            @include isFocused($outline-color);
        }
    }

    .slider {
        position: absolute;
        bottom: 0;
        height: 100%;
        background-color: white;
        z-index: 0;
        transition: left 0.1s ease-in-out, width 0.3s ease-in-out;
        mix-blend-mode: difference;
        /** Fix Safari mix-blend-mode render issue: */
        transform: translate3d(0, 0, 0);
    }
}