@import '/styles/palettes.scss';

.cube {
    height: 100%;

    @include themeComponent($themes) {
        background-color: t('');
    }
}

.vertex {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-out;
    image-rendering: pixelated;
    font-size: 10px;

    @include themeComponent($themes) {
        background-color: t('hover');
    }
}