@import '../../../styles/vars.scss';

.header {
    .masthead {
        width: 50%;
        padding: 0 0 0 $s-x-large;
        position: relative;
        z-index: 14;

        @media(max-width: $tabletMax) {
            width: 80%;
            padding: 0;
            margin-top: $s-x-large;
        }

        .title {
            font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
            font-size: 3.2rem;
            text-transform: uppercase;
            margin: $s-large 0 0 0;

            @include themeComponent($themes) {
                color: t('header');
            }

            @media(max-width: $tabletMax) {
                width: 50%;
                display: inline-block;
                font-size: 1rem;
                margin: 0;
            }
        }

        .subtitle {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 3rem;


            @include themeComponent($themes) {
                color: t('subheader');
            }

            @media(max-width: $tabletMax) {
                width: 50%;
                float: right;
                display: inline-block;
                font-size: 0.8rem;
                line-height: 1rem;
                margin: 0;
            }
        }
    }

    .decoration {
        width: 50%;
        position: relative;

        @media(max-width: $tabletMax) {
            width: auto;
            position: absolute;
            // top: calc(12*$s-small);
            left: 85%;
            // z-index: 12;
        }
    }
}