@import '../../styles/palettes.scss';

.nav {
    @include themeComponent($themes) {
        background-color: t('backgroundColor');
    }

    display: flex;
    font-size: 1.2rem;

    ul {
        list-style: none;
    }

    li {
        float: left;
        text-transform: capitalize;
        padding: 0 20px 0 20px;
        cursor: pointer;
    }
}