@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.nav {
    @include themeComponent($themes) {
        background-color: t('activeText');
    }

    display: flex;
    font-size: 2.6rem;
    font-variation-settings: 'wght' 200;


    ul {
        list-style: none;
        padding: 0;
        margin: $s-small $s-large;
        position: relative;
    }

    li {
        float: left;
        text-transform: capitalize;
        padding: 0 $s-large 0 $s-large;
        cursor: pointer;

        &.selected {
            @include themeComponent($themes) {
                color: t('activeText');
            }
        }

        @include isFocused;
    }

    .slider {
        position: absolute;
        bottom: 0;
        height: 100%;
        background-color: white;
        z-index: 0;
        transition: left 0.1s ease-in-out, width 0.3s ease-in-out;
        mix-blend-mode: difference;
    }

    @media(max-width: $tabletMax) {
        font-size: 1rem;
        position: absolute;
        top: 0;
        padding: $s-medium 0;
        z-index: -1;
    }
}