@import '../styles/vars.scss';

.about {
    .aside {
        text-align: center;
        margin: $s-x-large 0 0 0;
    }

    .headshot {
        @media (max-width:$tabletMax) {
            display: inline-block;
            margin: 0;
        }

        img {
            border-radius: 50%;
            width: 100%;
            margin: 0;
        }
    }

    .source {
        width: 50%;
        padding-top: $s-x-large;

        @media (max-width: $tabletMax) {
            width: 100%;
        }
    }
}