@font-face {
    font-family: 'GeistMonoVariableVF';
    src: url('/fonts/GeistMonoVariableVF.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: GeistMonoVariableVF, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    /* For WebKit browsers */
    -moz-osx-font-smoothing: grayscale;
    /* For Firefox on Mac OS */
    text-rendering: optimizeLegibility;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 1fr 1fr;

    grid-template-areas:
        "header header header"
        "menu details details"
        "menu details details";
}

.header {
    display: grid;
    grid-area: header;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        "title decoration decoration"
        "subtitle decoration decoration";

    .title {
        font-variation-settings: 'wght' 900;
        font-size: 40pt;
    }

    .subtitle {
        grid-area: subtitle;
        margin: 0;
    }
}

.menu {
    grid-area: menu;
    margin: 0;
    list-style: none;

    .title {
        padding: 5px 0;
    }

    li {
        counter-increment: custom;
        padding: 0 0 0 20px;
        border-bottom: 1px solid black;
        position: relative;
        cursor: pointer;
    }

    & ::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: black;
        transition: width 0.2s ease-out;
    }

    & :hover::before {
        width: 100%
    }

    li::marker {
        content: counter(custom);
        font-variation-settings: 'wght' 100;
        font-size: 12pt;
    }
}

.details {
    grid-area: details;
}

.cube {
    grid-area: decoration;
}

.vertex {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    cursor: pointer;
    transition: transform 0.1s ease-out;
    image-rendering: pixelated;
    font-size: 10px;
}