@font-face {
    font-family: 'GeistMonoVariableVF';
    src: url('/fonts/GeistMonoVariableVF.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: GeistMonoVariableVF, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    /* For WebKit browsers */
    -moz-osx-font-smoothing: grayscale;
    /* For Firefox on Mac OS */
    text-rendering: optimizeLegibility;
    background-color: lightgray;
}

.layout {
    /** Top level grids */
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        "header header header"
        "menu details details"
        "menu details details";
    min-height: 100vh;

    /** Subgrids */
    .header {
        display: grid;
        grid-area: header;

        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "title . decoration" "subtitle . decoration";
    }

    .projectDetails {
        display: grid;
        grid-area: details;

        grid-template-rows: repeat(2, 300px, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "meta meta meta"
            "left center right";
    }
}