@import 'modern-normalize';
@import 'vars.scss';
@import 'layout.scss';
@import 'mixins.scss';

body {
    background-color: $alabaster-white;
}

.base__palette {
    @include themeGlobal($themes) {}
}