@import 'vars.scss';

.layout {
    display: block;

    .header {
        display: flex;
        flex-direction: column;

        @media (max-width: $tabletMax) {
            display: block;
        }

        .marquee {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media (max-width: $tabletMax) {
                display: block;
            }
        }

        .nav {
            width: 100%
        }
    }

    .content {
        display: grid;
        grid-template-columns: [left] minmax(450px, 35%) [menu-end] auto [content-end];
        grid-gap: $s-large;
        grid-template-areas:
            "menu details";

        @media(max-width: $tabletMax) {
            display: block;
        }

        .menu {
            grid-area: menu;
        }

        .projectDetails {
            grid-area: details;
            display: flex;
            flex-direction: column;

            @media(max-width: $tabletMax) {
                width: 100%;
            }
        }
    }
}