.layout {
    /** Top level grids */
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "header"
        "content";

    /** Responsive layouts */
    @media (max-width: 1023px) {
        /** Tablet */
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "header"
            "content"
    }

    @media(max-width: 767px) {
        /** Mobile */
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "header"
            "content";
    }

    /** Subgrids */
    .header {
        display: flex;
        flex-direction: column;

        .marquee {
            display: flex;
            justify-content: space-between;
            width: 100%
        }

        .nav {
            width: 100%
        }
    }

    .content {
        display: grid;
        grid-area: content;

        grid-template-columns: [left] 35% [menu-end] auto [content-end];
        grid-gap: 20px;
        grid-template-areas:
            "menu details";

        .menu {
            grid-area: menu;
        }

        .projectDetails {
            display: flex;
            grid-area: details;
            flex-direction: column;
        }
    }
}