@import '../../styles/vars.scss';

.menu {
    margin: 0;
    list-style: none;

    #menuCheckbox {
        appearance: none;
        position: absolute;
        opacity: 0;
    }

    .navMobile {
        display: block;

        @media(max-width: $mobileMax) {
            position: absolute;
            left: -100%;
            width: 90%;
            transition: left 0.5s ease;
            z-index: 10;
            box-shadow: $s-medium $s-medium rgba(0, 0, 0, 0.5);
            border: 1px solid black;

            @include themeComponent($themes) {
                background-color: t('background');
            }
        }
    }

    /** toggle mobile nav*/
    #menuCheckbox:checked~.navMobile {
        left: 0;
    }

    .labelMenuToggle {
        display: none;

        @media (max-width: $mobileMax) {
            cursor: pointer;
            display: inline-block;
            font-size: 2rem;
            padding: 0 $s-large;
        }
    }

    .title {
        padding: $s-small 0;
    }

    li {
        counter-increment: custom;
        padding: 0 0 0 $s-large;
        border-bottom: $s solid;
        position: relative;
        cursor: pointer;

        @include themeComponent($themes) {
            color: t('text');
            background-color: t('backgroundColor');
            border-bottom-color: t('link');
        }

        &::marker {
            content: counter(custom);
            font-variation-settings: 'wght' 300;
            font-size: 1.2rem;

            @include themeComponent($themes) {
                color: t('highlight')
            }
        }
    }

    /** bottom border animation */
    & ::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: $s;
        transition: width 0.2s ease-out;

        @include themeComponent($themes) {
            background: t('link');
        }
    }

    & :hover::before,
    & .selected::before {
        width: 100%
    }
}