@import '../../styles/vars.scss';

.menu {
    margin: 0;
    list-style: none;

    .title {
        padding: $s-small 0;
    }

    li {
        counter-increment: custom;
        padding: 0 0 0 $s-large;
        border-bottom: $s solid;
        position: relative;
        cursor: pointer;

        @include themeComponent($themes) {
            color: t('text');
            background-color: t('backgroundColor');
            border-bottom-color: t('link');
        }

        &::marker {
            content: counter(custom);
            font-variation-settings: 'wght' 300;
            font-size: 1.2rem;

            @include themeComponent($themes) {
                color: t('highlight')
            }
        }
    }

    /** bottom border animation */
    & ::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: $s;
        transition: width 0.2s ease-out;

        @include themeComponent($themes) {
            background: t('link');
        }
    }

    & :hover::before,
    & .selected::before {
        width: 100%
    }
}